.body{ 
    margin-left: 37.5pc;
}
.form{
    font-weight: bold;
    border: 1px solid rgb(216, 216, 216);
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 1px;
    padding-bottom: 10px;
    border-radius: 5px;
    width: 25pc;
    box-shadow: 3px 3px rgb(234, 227, 227);
}
 .sign{
    text-align: center;
    font-size: 25px;
}
.bord{
    border:none;
    border-bottom: 1px solid black;
}
.final{
    background-color: navy; 
    color:white; 
    width: 20pc; 
    border-radius: 5px; 
    justify-content: center;
}
.pos{
    text-align: center;
}
